@charset "UTF-8";

/*
    Paleta de Cores:
    Verde: #49a09d
    Lilás: #5f2c82
    Azul: #94CFCD
    Azul escuro: #36706e
*/

@media screen and (min-width: 769px) and (max-width: 992px) { /* TABLETS e DESKTOPS */


    body {
        background: linear-gradient(#5f2c82, #49a09d);
    }
   
    main, #formulario {
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        border-radius: 10px 0px 0px 10px;
        height: 280px;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    #entrar {
        flex-direction: row;
        width: 96%;
    }

    .botao {
        width: 96%;
    }
}

@media screen and (min-width: 993px) { /* TELAS GRANDES */

    body {
        background: linear-gradient(#5f2c82, #49a09d);
    }

    main, #formulario {
        width: 950px;
        height: 350px;
    }

    main h1 {
        font-size: 2em;
    }

    main p {
        font-size: 1em;
        padding: 20px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        border-radius: 0px 10px 10px 0px;
        height: 350px;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    #entrar {
        display: flex;
        flex-direction: row;
        width: 96%;
        margin-left: 10px;
    }

    .botao {
        width: 96%;
    }

}